body {
    margin: 0;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    padding: 40px 0;
}

.logo__image {
    margin-right: 16px;
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #0056EC;
    opacity: 0.7;
}

.logo__image::after {
    display: block;
    position: relative;
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    left: 8px;
    top: 7px;
    background: #C8DBFB;
    opacity: 0.7;
}

.logo__name {
    margin: 0;
    font: bold 24px/32px pt_serifbold, Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__elem {
    position: relative;
    margin-right: 25px;
    font: 500 18px/21px Roboto, sans-serif;
    text-decoration: none;
    color: #000;
    transition: width, opacity .3s;
}

.menu__elem:active {
    text-shadow: 1px 1px 2px rgb(17, 20, 184);
}

.menu__elem:hover {
    opacity: .5;
    transition: width, opacity .3s;
}

.menu__elem::before {
    position: absolute;
    content: '';
    width: 0px;
    top: 20px;
    height: 3px;
    background: #0056EC;
    transition: .3s;
    opacity: 0;
}

.menu__elem:last-child {
    margin-right: 0;
}

.menu__elem:hover::before {
    display: block;
    width: 100%;
    opacity: 1;
}

.menu__elem_active::before {
    position: absolute;
    content: '';
    top: 20px;
    width: 100%;
    height: 3px;
    background: #0056EC;
    opacity: 1;
}

.main-section {
    display: flex;
    align-items: center;
}

.main-content {
    padding: 100px 0;
    width: 50%;
}

.main-content__header {
    font: bold 66px/87px pt_serifregular, Arial, Helvetica, sans-serif;
}

.main-content__content {
    font: normal 22px/26px Roboto, sans-serif;
}

.main-content__button {
    font: 500 18px/21px Roboto, sans-serif;
}